@charset "UTF-8";
/* Подключаем шрифты */
@font-face {
  font-family: 'Lab Grotesque Mono';
  src: url("fonts/LabGrotesqueMono.eot");
  src: url("fonts/LabGrotesqueMono.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesqueMono.woff2") format("woff2"), url("fonts/LabGrotesqueMono.woff") format("woff"), url("fonts/LabGrotesqueMono.ttf") format("truetype"), url("fonts/LabGrotesqueMono.svg#LabGrotesqueMono") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-Regular.eot");
  src: url("fonts/LabGrotesque-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-Regular.woff2") format("woff2"), url("fonts/LabGrotesque-Regular.woff") format("woff"), url("fonts/LabGrotesque-Regular.ttf") format("truetype"), url("fonts/LabGrotesque-Regular.svg#LabGrotesque-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque Mono';
  src: url("fonts/LabGrotesqueMono-Bold.eot");
  src: url("fonts/LabGrotesqueMono-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesqueMono-Bold.woff2") format("woff2"), url("fonts/LabGrotesqueMono-Bold.woff") format("woff"), url("fonts/LabGrotesqueMono-Bold.ttf") format("truetype"), url("fonts/LabGrotesqueMono-Bold.svg#LabGrotesqueMono-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-Medium.eot");
  src: url("fonts/LabGrotesque-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-Medium.woff2") format("woff2"), url("fonts/LabGrotesque-Medium.woff") format("woff"), url("fonts/LabGrotesque-Medium.ttf") format("truetype"), url("fonts/LabGrotesque-Medium.svg#LabGrotesque-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-BlackItalic.eot");
  src: url("fonts/LabGrotesque-BlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-BlackItalic.woff2") format("woff2"), url("fonts/LabGrotesque-BlackItalic.woff") format("woff"), url("fonts/LabGrotesque-BlackItalic.ttf") format("truetype"), url("fonts/LabGrotesque-BlackItalic.svg#LabGrotesque-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-Thin.eot");
  src: url("fonts/LabGrotesque-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-Thin.woff2") format("woff2"), url("fonts/LabGrotesque-Thin.woff") format("woff"), url("fonts/LabGrotesque-Thin.ttf") format("truetype"), url("fonts/LabGrotesque-Thin.svg#LabGrotesque-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-Bold.eot");
  src: url("fonts/LabGrotesque-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-Bold.woff2") format("woff2"), url("fonts/LabGrotesque-Bold.woff") format("woff"), url("fonts/LabGrotesque-Bold.ttf") format("truetype"), url("fonts/LabGrotesque-Bold.svg#LabGrotesque-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-Black.eot");
  src: url("fonts/LabGrotesque-Black.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-Black.woff2") format("woff2"), url("fonts/LabGrotesque-Black.woff") format("woff"), url("fonts/LabGrotesque-Black.ttf") format("truetype"), url("fonts/LabGrotesque-Black.svg#LabGrotesque-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-ThinItalic.eot");
  src: url("fonts/LabGrotesque-ThinItalic.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-ThinItalic.woff2") format("woff2"), url("fonts/LabGrotesque-ThinItalic.woff") format("woff"), url("fonts/LabGrotesque-ThinItalic.ttf") format("truetype"), url("fonts/LabGrotesque-ThinItalic.svg#LabGrotesque-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-Italic.eot");
  src: url("fonts/LabGrotesque-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-Italic.woff2") format("woff2"), url("fonts/LabGrotesque-Italic.woff") format("woff"), url("fonts/LabGrotesque-Italic.ttf") format("truetype"), url("fonts/LabGrotesque-Italic.svg#LabGrotesque-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-LightItalic.eot");
  src: url("fonts/LabGrotesque-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-LightItalic.woff2") format("woff2"), url("fonts/LabGrotesque-LightItalic.woff") format("woff"), url("fonts/LabGrotesque-LightItalic.ttf") format("truetype"), url("fonts/LabGrotesque-LightItalic.svg#LabGrotesque-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-BoldItalic.eot");
  src: url("fonts/LabGrotesque-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-BoldItalic.woff2") format("woff2"), url("fonts/LabGrotesque-BoldItalic.woff") format("woff"), url("fonts/LabGrotesque-BoldItalic.ttf") format("truetype"), url("fonts/LabGrotesque-BoldItalic.svg#LabGrotesque-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-Light.eot");
  src: url("fonts/LabGrotesque-Light.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-Light.woff2") format("woff2"), url("fonts/LabGrotesque-Light.woff") format("woff"), url("fonts/LabGrotesque-Light.ttf") format("truetype"), url("fonts/LabGrotesque-Light.svg#LabGrotesque-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url("fonts/LabGrotesque-MediumItalic.eot");
  src: url("fonts/LabGrotesque-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/LabGrotesque-MediumItalic.woff2") format("woff2"), url("fonts/LabGrotesque-MediumItalic.woff") format("woff"), url("fonts/LabGrotesque-MediumItalic.ttf") format("truetype"), url("fonts/LabGrotesque-MediumItalic.svg#LabGrotesque-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

.nav-item, .firstpage-block h1, .firstpage-block p, .firstpage-button, .advantages-item span, .advantages-item p {
  font-family: Lab Grotesque;
  font-style: normal;
  color: #1F1F29;
}

.section-question {
  font-family: Lab Grotesque;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #CAC9D8;
  padding: 0px;
}

body {
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.hidden {
  display: none;
}

a:-webkit-any-link {
  cursor: pointer;
}

.background-pic {
  background-image: url("pic/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  margin-top: 90px;
}

a {
  text-decoration: none;
  color: #1F1F29;
}

@media screen and (max-width: 892px) {
  .background-pic {
    background-image: url("pic/Background_mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    margin-top: 70px;
  }
}

header {
  height: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: block;
  z-index: 6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul {
  list-style: none;
}

button {
  border: 0px;
  background: #FFFFFF;
}

button:hover {
  cursor: pointer;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  padding-left: 42px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  max-width: 1280px;
}

.header-burger-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-login-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.main-nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

.header-burg-btn {
  margin-right: 34px;
  width: 30px;
  height: 30px;
}

.header-logo {
  height: 22px;
  width: 110px;
}

.num-ref {
  margin-right: 30px;
}

.header-sign-btn {
  display: block;
  width: 159px;
  height: 55px;
  border: 2px solid #1F1F29;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.header-sign-btn:hover {
  color: #FFFFFF;
  background-color: #1F1F29;
}

.headr-serch-btn {
  height: 20px;
  width: 20px;
  margin-left: 40px;
}

@media screen and (max-width: 1245px) {
  .main-nav-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .num-ref {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1178px) {
  .header-main-nav {
    display: none;
  }
}

@media screen and (max-width: 785px) {
  .num-ref {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .header-burg-btn {
    margin-right: 23px;
    width: 21px;
    height: 25px;
  }
  .header-logo {
    height: 15px;
    width: 75px;
  }
  header {
    height: 70px;
  }
  .header-wrap {
    padding-left: 20px;
    padding-right: 20px;
    height: 70px;
  }
  .headr-serch-btn {
    display: none;
  }
  .header-sign-btn {
    width: 124px;
    height: 45px;
  }
}

.firstpage {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.firstpage-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  border-bottom: 2px solid #ccccce;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.firstpage-wrap img {
  margin-right: 29px;
  width: 388px;
  height: 413px;
}

.firstpage-block {
  max-width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.firstpage-block h1 {
  font-weight: 500;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: -0.02em;
  padding: 0;
  margin-bottom: 10px;
}

.firstpage-block p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  padding: 0;
  margin-bottom: 40px;
}

.buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firstpage-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  background: #FFFFFF;
  border-radius: 15px;
  border: 0px;
  height: 55px;
  width: 208px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.firstpage-button:hover {
  background: -webkit-linear-gradient(353.78deg, #2C6DEB -10.49%, #6BC6F9 126.04%);
  background: -o-linear-gradient(353.78deg, #2C6DEB -10.49%, #6BC6F9 126.04%);
  background: linear-gradient(96.22deg, #2C6DEB -10.49%, #6BC6F9 126.04%);
  color: #FFFFFF;
  cursor: pointer;
}

.button-doctor::before {
  content: "";
  background-image: url("pic/button-doc-icon.svg");
  height: 18px;
  width: 18px;
  background-size: cover;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
}

.online-button::before {
  content: "";
  background-image: url("pic/button-online-icon.svg");
  height: 12px;
  width: 12px;
  background-size: cover;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.advantages-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-item {
  display: block;
  margin-right: 40px;
}

.advantages-item span {
  font-weight: 500;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.advantages-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

@media (max-width: 1119px) {
  .firstpage-wrap img {
    width: 347.31px;
    height: 388.29px;
  }
  .advantages-item span {
    font-size: 26px;
  }
  .advantages-item p {
    font-size: 14px;
  }
}

@media screen and (max-width: 892px) {
  .firstpage {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .firstpage-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
  }
  .firstpage-wrap img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 277.848px;
    height: 310.632px;
  }
  .section-question {
    margin-left: 20px;
  }
  .advantages-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 20px;
  }
}

@media screen and (max-width: 450px) {
  .firstpage-wrap {
    padding-bottom: 20.25px;
    margin-bottom: 30px;
  }
  .firstpage-wrap img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 231.54px;
    height: 258.86px;
  }
  .firstpage-block {
    max-width: 335px;
  }
  .firstpage-block h1 {
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.02em;
    padding: 0;
    margin-bottom: 10px;
  }
  .firstpage-block p {
    color: #8D8DA0;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-bottom: 17px;
  }
  .buttons-block {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .firstpage-button {
    font-size: 14px;
    margin-right: 2px;
    margin-bottom: 5px;
    z-index: 0;
    height: 44.75px;
    width: 163px;
  }
  .section-question {
    font-size: 12px;
  }
  .advantages-item span {
    margin-bottom: 10px;
  }
  .advantages-item p {
    margin-bottom: 20px;
  }
}
