@import "fonts.scss";
%font {
    font-family: Lab Grotesque;
    font-style: normal;
    color: #1F1F29;
}
%questions {
    font-family: Lab Grotesque;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #CAC9D8;
    padding: 0px;
}
body{
    padding: 0;
    margin: 0;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
.hidden{
    display: none;
}

a:-webkit-any-link {
    cursor: pointer;
}
.background-pic {
    background-image: url("pic/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
    margin-top: 90px;
    }
a {
    text-decoration: none;
    color: #1F1F29;
}
@media screen and (max-width: 1178px) {
    .background-pic {
        margin-top: 70px;
    }
}
@media screen and (max-width: 892px) {
    .background-pic {
        background-image: url("pic/Background_mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
        margin-top: 70px;
    }
}
div{
    padding: 0;
    margin: 0;
}

@import "header.scss";
@import "first-page.scss";


@import "doctors.scss";
@import "footer.scss";



